* {
    background-color: beige;
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    background-color: inherit;
    color: blue;
}

h2,h3,h4{
    padding: 0px;
    margin: 0px;
}

header {
    background-color: beige;
    box-sizing: border-box;
    border-width: 8px;
    border-color: green;
    border-style: ridge;
    margin: 0;
    padding: 0;
}

.imgCenter {
    display: block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    padding: 5px;
    margin: 5px;
}

header li{
    background-color: bisque;
    box-sizing: border-box;
    border-width: 8px;
    border-color: purple;
    border-style: ridge;
    padding: 5px;
    margin: 5px;
    padding-top: 10px;
}

.repoContainer ul,li {
    background-color: bisque;
}

.repoContainer ul{
    box-sizing: border-box;
    border-width: 8px;
    border-color: purple;
    border-style: ridge;
    padding: 5px;
    margin: 5px;
    padding-top: 10px; 
}

.repoContainer div{
    background-color: bisque;
    padding: 0px;
    margin: 0px;
}

#myName {
    text-shadow: 2px 2px 2px grey;
    font-size: 50px;
    background-color: beige;
    color: magenta;
    margin-right: auto;
    border-width: 0px;
    padding: 10px;
}

#bio{
    text-shadow: 2px 2px 2px grey;
    font-size: 40px;
    padding: 4px;
    margin:4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#projects{
    text-shadow: 2px 2px 2px grey;
    font-size: 40px;
    padding: 4px;
    margin:4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#contact{
    text-shadow: 2px 2px 2px grey;
    font-size: 40px;
    padding: 4px;
    margin:4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#links{
    text-shadow: 2px 2px 2px grey;
    font-size: 40px;
    padding: 4px;
    margin:4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.linkParent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.linkContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

body p,div,.linkContainer h3{
    margin: 4px;
    padding: 4px;
}

body div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img {
    max-width: 70vw;
    height: auto;
}

footer {
    background-color: bisque;
    box-sizing: border-box;
    border-width: 4px;
    border-color: grey;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    padding-top: 10px;
}

footer p {
    background-color: bisque;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    *,.linkContainer,.linkParent{
        flex-flow: block;
        justify-content: center;
    }
}